h1{color:black; font-family:Elephant; background-color:rgb(grey);}
h2{color:rgb(pink);}
	p{background-color:pink; color:black; font-family: elephant;}
	table{background-color:black; color:white;}
ul{color: white;background-color:black;}
ol{color:grey;background-color:black;}	
form{background-color:black; color:grey; font-family:Arial;}